In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/My Drive/Datasets/Py4DS_Lab3/AB_NYC_2019.csv')
df

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[48895 rows x 16 columns]

In [4]:

from sklearn.preprocessing import LabelEncoder
df = df.drop(['id','host_name','name','last_review'], axis = 1)

In [5]:

for name_col in df.columns:
  if (isinstance(df[name_col][0],str)):
    df[name_col] = LabelEncoder().fit_transform(df[name_col])
df['host_id'] = LabelEncoder().fit_transform(df['host_id'])
df['reviews_per_month']=df['reviews_per_month'].fillna(0)
df.drop_duplicates()
df.reset_index()
X = df.drop(['price'],axis=1)
Y = df['price']
X

       host_id  ...  availability_365
0            2  ...               365
1            3  ...               355
2           13  ...               365
3           14  ...               194
4           18  ...                 0
...        ...  ...               ...
48890    10255  ...                 9
48891     8945  ...                36
48892    17488  ...                27
48893    19748  ...                 2
48894    26349  ...                23

[48895 rows x 11 columns]

In [6]:
for i in range(0,df.shape[1]):
  print(df.iloc[:,i].describe())
  print("*"*30)

count    48895.000000
mean     19477.102055
std      10996.357930
min          0.000000
25%       9964.500000
50%      19709.000000
75%      29407.000000
max      37456.000000
Name: host_id, dtype: float64
******************************
count    48895.000000
mean         1.675345
std          0.735816
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          4.000000
Name: neighbourhood_group, dtype: float64
******************************
count    48895.000000
mean       107.122732
std         68.743096
min          0.000000
25%         51.000000
50%         94.000000
75%        178.000000
max        220.000000
Name: neighbourhood, dtype: float64
******************************
count    48895.000000
mean        40.728949
std          0.054530
min         40.499790
25%         40.690100
50%         40.723070
75%         40.763115
max         40.913060
Name: latitude, dtype: float64
******************************
count    48895.000000
mean       -73.952170
std          0.046157
min        -74.244420
25%        -73.983070
50%        -73.955680
75%        -73.936275
max        -73.712990
Name: longitude, dtype: float64
******************************
count    48895.000000
mean         0.504060
std          0.545379
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          2.000000
Name: room_type, dtype: float64
******************************
count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64
******************************
count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64
******************************
count    48895.000000
mean        23.274466
std         44.550582
min          0.000000
25%          1.000000
50%          5.000000
75%         24.000000
max        629.000000
Name: number_of_reviews, dtype: float64
******************************
count    48895.000000
mean         1.090910
std          1.597283
min          0.000000
25%          0.040000
50%          0.370000
75%          1.580000
max         58.500000
Name: reviews_per_month, dtype: float64
******************************
count    48895.000000
mean         7.143982
std         32.952519
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max        327.000000
Name: calculated_host_listings_count, dtype: float64
******************************
count    48895.000000
mean       112.781327
std        131.622289
min          0.000000
25%          0.000000
50%         45.000000
75%        227.000000
max        365.000000
Name: availability_365, dtype: float64
******************************

In [7]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3)

Scaling X with StandardScaler

In [8]:
scaler = preprocessing.StandardScaler()
X_train_ss = scaler.fit_transform(X_train)
X_test_ss = scaler.transform(X_test)

Scaling X with MinMaxScaler

In [9]:
scaler = preprocessing.MinMaxScaler()
X_train_mms = scaler.fit_transform(X_train)
X_test_mms = scaler.transform(X_test)

Scaling X with MaxAbsScaler

In [10]:
scaler = preprocessing.MaxAbsScaler()
X_train_mas = scaler.fit_transform(X_train)
X_test_mas = scaler.transform(X_test)

Scaling X with RobustScaler

In [11]:
scaler = preprocessing.RobustScaler()
X_train_rs = scaler.fit_transform(X_train)
X_test_rs = scaler.transform(X_test)

Scaling X with PCA

In [12]:
from sklearn.decomposition import PCA
scaler = PCA(n_components = "mle", svd_solver = "full")
X_train_pca = scaler.fit_transform(X_train)
X_test_pca = scaler.transform(X_test)

Mapping X with Uniform distribution

In [13]:
transformer = preprocessing.QuantileTransformer()
X_train_u = transformer.fit_transform(X_train)
X_test_u = transformer.transform(X_test)

Mapping X with Normalize distribution

In [14]:
transformer = preprocessing.Normalizer(norm = 'l2')
X_train_n = transformer.transform(X_train)
X_test_n = transformer.transform(X_test)

Encoder X with KBin Discretization

In [15]:
encoder = preprocessing.KBinsDiscretizer(n_bins = 10, strategy = 'uniform')
X_train_kbin = encoder.fit_transform(X_train)
X_test_kbin = encoder.transform(X_test)

Function to Regression

In [16]:
def SVRmse(X_train,X_test,Y_train,Y_test):
  import time
  from sklearn import svm
  from sklearn.metrics import mean_squared_error
  start = time.time()
  clf = svm.SVR()
  clf.fit(X_train,Y_train)
  Y_predict = clf.predict(X_test)
  mse = mean_squared_error(Y_test,Y_predict)
  end = time.time()
  print("MSE for Support Vector Regression: {:.4f}".format(mse))
  print("Time estimated: ",end-start)
  return mse

In [17]:
def DTRmse(X_train, X_test,Y_train,Y_test):
  import time
  from sklearn import tree
  from sklearn.metrics import mean_squared_error
  start = time.time()
  clf = tree.DecisionTreeRegressor()
  clf.fit(X_train,Y_train)
  Y_predict = clf.predict(X_test)
  mse = mean_squared_error(Y_test,Y_predict)
  end = time.time()
  print("MSE for Decision Tree Regression: {:.4f}".format(mse))
  print("Time estimatimated: ",end-start)
  return mse

In [18]:
def RFRmse(X_train,X_test,Y_train,Y_test):
  import time
  from sklearn.ensemble import RandomForestRegressor
  from sklearn.metrics import mean_squared_error
  start = time.time()
  clf = RandomForestRegressor()
  clf.fit(X_train,Y_train)
  Y_predict = clf.predict(X_test)
  mse = mean_squared_error(Y_test,Y_predict)
  end = time.time()
  print("MSE for Random Forest Regression: {:.4f}".format(mse))
  print("Time estimated: ",end-start)
  return mse

In [19]:
def GBRmse(X_train,X_test,Y_train,Y_test):
  import time
  from sklearn.ensemble import GradientBoostingRegressor
  from sklearn.metrics import mean_squared_error
  start = time.time()
  clf = GradientBoostingRegressor(random_state=0)
  clf.fit(X_train,Y_train)
  Y_predict = clf.predict(X_test)
  mse = mean_squared_error(Y_test,Y_predict)
  end = time.time()
  print("MSE for Gradient Boosting Regressor: {:.4f}".format(mse))
  print("Time estimated: ",end-start)
  return mse

In [20]:
def Regression(X_train,X_test,Y_train,Y_test):
  svr = SVRmse(X_train,X_test,Y_train,Y_test)
  dtr = DTRmse(X_train,X_test,Y_train,Y_test)
  rfr = RFRmse(X_train,X_test,Y_train,Y_test)
  gbr = GBRmse(X_train,X_test,Y_train,Y_test)
  print("*"*50)
  return np.array([svr,dtr,rfr,gbr])

In [21]:
def Compare(NoneProcessing, Processing):
  for i in range(len(NoneProcessing)):
    state = ""
    if (NoneProcessing[i]>Processing[i]):
      state = "Good"
    else:
      state = "Bad"
    switcher = {
        0: "Support Vector Regression",
        1: "Decision Tree Regression",
        2: "Random Forest Regression",
        3: "Gradient Boosting Regression"
    }
    print(state + " " + switcher.get(i))
  print("*"*50)
  print("*"*50)

Compare before and after preprocessing

In [22]:
print("Regression without preprocessing: ")
scores_before = Regression(X_train,X_test,Y_train,Y_test)

Regression without preprocessing:
MSE for Support Vector Regression: 55351.6940
Time estimated:  109.72093987464905
MSE for Decision Tree Regression: 102892.9463
Time estimatimated:  0.4476625919342041
MSE for Random Forest Regression: 43281.1442
Time estimated:  28.114726781845093
MSE for Gradient Boosting Regressor: 44283.4108
Time estimated:  7.105589151382446
**************************************************

In [23]:
print("Regression with StandardScaler: ")
scores_after = Regression(X_train_ss,X_test_ss,Y_train,Y_test)
Compare(scores_before,scores_after)

Regression with StandardScaler:
MSE for Support Vector Regression: 49171.3547
Time estimated:  104.93239426612854
MSE for Decision Tree Regression: 92537.4650
Time estimatimated:  0.46330952644348145
MSE for Random Forest Regression: 42730.4619
Time estimated:  28.455687761306763
MSE for Gradient Boosting Regressor: 44293.1122
Time estimated:  7.353955268859863
**************************************************
Good Support Vector Regression
Good Decision Tree Regression
Good Random Forest Regression
Bad Gradient Boosting Regression
**************************************************
**************************************************

In [24]:
print("Regression with MinMaxScaler: ")
scores_after = Regression(X_train_mms,X_test_mms,Y_train,Y_test)
Compare(scores_before,scores_after)

Regression with MinMaxScaler:
MSE for Support Vector Regression: 49748.3575
Time estimated:  109.12907671928406
MSE for Decision Tree Regression: 94038.2780
Time estimatimated:  0.482255220413208
MSE for Random Forest Regression: 43489.5086
Time estimated:  28.601530075073242
MSE for Gradient Boosting Regressor: 44283.4736
Time estimated:  7.388197183609009
**************************************************
Good Support Vector Regression
Good Decision Tree Regression
Bad Random Forest Regression
Bad Gradient Boosting Regression
**************************************************
**************************************************

In [25]:
print("Regression with MaxAbsScaler: ")
scores_after = Regression(X_train_mas,X_test_mas,Y_train,Y_test)
Compare(scores_before,scores_after)

Regression with MaxAbsScaler:
MSE for Support Vector Regression: 50682.2099
Time estimated:  113.13174366950989
MSE for Decision Tree Regression: 88355.2650
Time estimatimated:  0.46645092964172363
MSE for Random Forest Regression: 43369.2612
Time estimated:  28.302390098571777
MSE for Gradient Boosting Regressor: 44244.6040
Time estimated:  7.248213529586792
**************************************************
Good Support Vector Regression
Good Decision Tree Regression
Bad Random Forest Regression
Good Gradient Boosting Regression
**************************************************
**************************************************

In [26]:
print("Regression with RobustScaler: ")
scores_after = Regression(X_train_rs,X_test_rs,Y_train,Y_test)
Compare(scores_before,scores_after)

Regression with RobustScaler:
MSE for Support Vector Regression: 53621.8830
Time estimated:  119.3638186454773
MSE for Decision Tree Regression: 94648.2935
Time estimatimated:  0.45986461639404297
MSE for Random Forest Regression: 43466.7603
Time estimated:  28.575085163116455
MSE for Gradient Boosting Regressor: 44283.4726
Time estimated:  7.422902822494507
**************************************************
Good Support Vector Regression
Good Decision Tree Regression
Bad Random Forest Regression
Bad Gradient Boosting Regression
**************************************************
**************************************************

In [27]:
print("Regression with PCA")
scores_after = Regression(X_train_pca,X_test_pca,Y_train,Y_test)
Compare(scores_before,scores_after)

Regression with PCA
MSE for Support Vector Regression: 55302.2055
Time estimated:  111.0067970752716
MSE for Decision Tree Regression: 100470.7602
Time estimatimated:  0.869229793548584
MSE for Random Forest Regression: 44233.6252
Time estimated:  51.36508584022522
MSE for Gradient Boosting Regressor: 48232.4116
Time estimated:  15.381879568099976
**************************************************
Good Support Vector Regression
Good Decision Tree Regression
Bad Random Forest Regression
Bad Gradient Boosting Regression
**************************************************
**************************************************

In [28]:
print("Regression with Uniform distribution")
scores_after = Regression(X_train_u,X_test_u,Y_train,Y_test)
Compare(scores_before,scores_after)

Regression with Uniform distribution
MSE for Support Vector Regression: 48945.4810
Time estimated:  105.70454931259155
MSE for Decision Tree Regression: 93596.3275
Time estimatimated:  0.44654011726379395
MSE for Random Forest Regression: 43347.2369
Time estimated:  28.556025981903076
MSE for Gradient Boosting Regressor: 44283.3956
Time estimated:  7.341986417770386
**************************************************
Good Support Vector Regression
Good Decision Tree Regression
Bad Random Forest Regression
Good Gradient Boosting Regression
**************************************************
**************************************************

In [29]:
print("Regression with Nomalize distribution")
scores_after = Regression(X_train_n,X_test_n,Y_train,Y_test)
Compare(scores_before,scores_after)

Regression with Nomalize distribution
MSE for Support Vector Regression: 55464.6680
Time estimated:  144.33424758911133
MSE for Decision Tree Regression: 107365.3498
Time estimatimated:  0.7987663745880127
MSE for Random Forest Regression: 49997.9501
Time estimated:  44.66296601295471
MSE for Gradient Boosting Regressor: 46534.7072
Time estimated:  13.247329473495483
**************************************************
Bad Support Vector Regression
Bad Decision Tree Regression
Bad Random Forest Regression
Bad Gradient Boosting Regression
**************************************************
**************************************************

In [30]:
print("Regression with KBinDiscrete")
scores_after = Regression(X_train_kbin,X_test_kbin,Y_train,Y_test)
Compare(scores_before,scores_after)

Regression with KBinDiscrete
MSE for Support Vector Regression: 49219.3727
Time estimated:  195.1546540260315
MSE for Decision Tree Regression: 60012.7507
Time estimatimated:  1.6498088836669922
MSE for Random Forest Regression: 49526.6325
Time estimated:  127.14184927940369
MSE for Gradient Boosting Regressor: 46874.5646
Time estimated:  3.0620291233062744
**************************************************
Good Support Vector Regression
Good Decision Tree Regression
Bad Random Forest Regression
Bad Gradient Boosting Regression
**************************************************
**************************************************